Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [8]:
# string variable
st = "Anmol"
# List variable
li = [1,2,3,4,5,"Anand",3.14]
# float variable
fl = 3.1459
#tuple variable
tu = (6,7,8,9,"Singh",8.10)

str

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1 is "Empty String".
(ii) var2 is "String".
(iii) var3 is "List".
(iv) var4 is "Float".

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / gives the quotient of a division. Output is Float. 
(ii) % gives the remainder of a division. Output is Integer.
(iii) // gives the floor value of the quotient of a division. Output is Integer.
(iv) ** is the exponentiation opperator. Eg:- 2**3=8.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [18]:
li=[1,2,3,4,"Pw","Data",1.45,7.87,[1.0,90,87,65],(2.8,"Anmol",67,98,76,54)]
for i in li:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
Pw <class 'str'>
Data <class 'str'>
1.45 <class 'float'>
7.87 <class 'float'>
[1.0, 90, 87, 65] <class 'list'>
(2.8, 'Anmol', 67, 98, 76, 54) <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
A=int(input())
B=int(input())
count=0
while(A%B==0):
    A/=B
    count+=1
print(count)

 24
 2

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
li = list(range(1,26))
for i in li:
    if(i%3==0):
        print(i, " is divisible by 3")
    else:
        print(i, " is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [26]:
#If a already defined variable can be modified then it is called "mutable". Ex:- List, Dictionary , Set.
#If a already defined variable can not be modified then it is called "immutable". Ex:- Numbers, String, Tuples.

#mutable Property
li=[1,2,3,4,5]
print(li)
print(id(li))

li[0]=90
print(li)
print(id(li)) # Since Id of the variable before and modification of the variable is same therefore List shows the mutabile property.

#Immutable Property
num=10
print(num)
print(id(num))

num+=2
print(num)
print(id(num)) # Since Id of the variable before and modification of the variable are different therefore Number shows the immutabile property.

[1, 2, 3, 4, 5]
140184542068032
[90, 2, 3, 4, 5]
140184542068032
10
140185024987664
12
140185024987728