**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

#Creating series using python list.
lst=[4, 8, 15, 16, 23, 42]
series_data=pd.Series(lst)

print(type(series_data))
print(series_data)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import numpy as np

#Creating series using numpy array.
np_array=np.array([4, 8, 15, 16, 23, 42])
series_data2=pd.Series(np_array)

print(type(series_data2))
print(series_data2)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

"pd.Series()" is an built-in function in pandas library, that accepts a numpy array or a python list and returns a series. "pd" is an alias for pandas.

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [3]:
import pandas as pd

lst=[i*i for i in range(1,11)]
df=pd.Series(lst)

print(df)

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

"pd.Series()" is an built-in function in pandas library, that accepts a numpy array or a python list and returns a series. "pd" is an alias for pandas.

**Q3. Create a Pandas DataFrame that contains the following data:**

**Name      Age     Gender**

**Alice     25      Female**

**Bob       30      Male**

**Claire    27      Female**

**Then, print the DataFrame.***

In [4]:
import pandas as pd

data={'Name' : ['Alice', 'Bob', 'Clarie'],
      'Age' : [25, 30, 27],
      'Gender' : ['Female', 'Male', 'Female']}
df1=pd.DataFrame(data)

print(type(df1))
print(df1)

<class 'pandas.core.frame.DataFrame'>
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

"pd.DataFrame()" is an built-in function in pandas library that accepts a dictionary, a list of lists, a list of dictionaries, a NumPy array, or another DataFrame and returns a DataFrame. "pd" is an alias for pandas.

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In pandas DataFrame and series are fundamental data structures used for handeling and manipulating data.

Following are the major difference between DataFrame and series in pandas:

1. DataFrame is a two-dimensional labeled data structure, resembling a table or spreadsheet with rows and columns. Where as, series is a one-dimensional labeled array-like object, similar to a Python list or a NumPy array, but with associated index labels for each element.

2. It is capable of holding data of different types in different columns. Where as, series can hold only one type of data as series is essentially a single column of a DataFrame.

3. "pd.DataFrame()" is the built-in method in pandas that returns a DataFrame. Where as, "pd.Series()" is the built-in method in pandas that returns a series. Here "pd" is an alias for pandas.

Below is an example for DataFrame and series in pandas:

In [5]:
import pandas as pd

# Creating a Series
series_data = pd.Series([10, 20, 30, 40, 50])
print("Series:")
print(series_data)
print("Type of Series:", type(series_data))

# Creating a DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)
print("Type of DataFrame:", type(df))

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64
Type of Series: <class 'pandas.core.series.Series'>

DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
Type of DataFrame: <class 'pandas.core.frame.DataFrame'>

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?**

Following are the common functions we can use to manipulate data in Pandas DataFreme:

**1. fillna()** : Used for handling Missing Values.

In [6]:
import pandas as pd
import numpy as np

# Creating a DataFrame with missing values
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [6, np.nan, 8, np.nan, 10],
        'C': [np.nan, 12, 13, 14, 15]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Fill missing values with a specific value (e.g., 0)
df_filled = df.fillna(0)
print("\nDataFrame after filling missing values:")
print(df_filled)

Original DataFrame:
     A     B     C
0  1.0   6.0   NaN
1  2.0   NaN  12.0
2  NaN   8.0  13.0
3  4.0   NaN  14.0
4  5.0  10.0  15.0

DataFrame after filling missing values:
     A     B     C
0  1.0   6.0   0.0
1  2.0   0.0  12.0
2  0.0   8.0  13.0
3  4.0   0.0  14.0
4  5.0  10.0  15.0

**2. groupby() and agg()** : Aggregation Operations.

In [8]:
# Grouping by 'Category' and calculating the mean and sum for 'Value' column
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 30]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Grouping by 'Category' and calculating mean and sum for 'Value' column
grouped = df.groupby('Category').agg({'Value': ['mean', 'sum']})
print("\nAggregated DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A     10
1        B     20
2        A     15
3        B     25
4        A     30

Aggregated DataFrame:
              Value
               mean sum
Category
A         18.333333  55
B         22.500000  45

**3. apply()** - Applying Functions.

In [9]:
# Applying a custom function to a column
data = {'Numbers': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Define a custom function to square the values
def square(x):
    return x ** 2

# Applying the 'square' function to the 'Numbers' column and store the result in a new column 'Squared_Numbers'
df['Squared_Numbers'] = df['Numbers'].apply(square)
print("\nDataFrame after applying custom function:")
print(df)

Original DataFrame:
   Numbers
0        1
1        2
2        3
3        4
4        5

DataFrame after applying custom function:
   Numbers  Squared_Numbers
0        1                1
1        2                4
2        3                9
3        4               16
4        5               25

**4. sort_values()** - Sorting Data.

In [10]:
# Sorting DataFrame based on values in 'Age' column
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 20, 30]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Sorting the DataFrame based on the 'Age' column in ascending order
sorted_df = df.sort_values(by='Age')
print("\nSorted DataFrame based on 'Age':")
print(sorted_df)

Original DataFrame:
      Name  Age
0    Alice   25
1      Bob   20
2  Charlie   30

Sorted DataFrame based on 'Age':
      Name  Age
1      Bob   20
0    Alice   25
2  Charlie   30

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Series: A Pandas Series is mutable. We can change the values of elements, update the index, and perform various operations to modify the Series.

DataFrame: Similar to a Pandas Series, a Pandas DataFrame is also mutable. We can add or remove columns, change column names, modify data within columns, add or delete rows, and perform a wide range of operations to alter the DataFrame.

Panels were three-dimensional data structures and were mutable as well. But due to the decreased usage and the ability to represent such data using MultiIndex DataFrames, Panels have been deprecated.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [21]:
import pandas as pd

#Creating 3 series type variable
s1=pd.Series([i for i in range(1,6)])
s2=pd.Series([i**2 for i in range(1,6)])
s3=pd.Series([i**3 for i in range(1,6)])

#Creating a dictionary of the 3 series type data
data={'number':s1, 
      'square':s2, 
      'cube':s3}

#Creating the DataFrame using the Dictionary containing Series Type data 
df=pd.DataFrame(data)
print(df)
print(type(s1))
print(type(s2))
print(type(s2))
print(type(data))
print(type(df))

   number  square  cube
0       1       1     1
1       2       4     8
2       3       9    27
3       4      16    64
4       5      25   125
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'dict'>
<class 'pandas.core.frame.DataFrame'>